body {
    margin: 0px;
}

.value {
    color: black;
    font-size: 10px;
}


table {
    border-collapse:collapse;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
td, th {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    width: 20%;
}

tr {
}

/* thead, tbody { display: block; }
*/

.rc-slider-handle {
    border: solid 1px;
}

.rc-slider-handle-click-focused:focus {
    border: solid 1px red;
}

.rc-slider-handle-1, .rc-slider-handle-1:active, .rc-slider-handle-1:focus, .rc-slider-handle-1:hover  {
    background-color: rgb(161, 83, 22);
    border-color: rgb(161, 83, 22);
}

.rc-slider-handle-2, .rc-slider-handle-2:active, .rc-slider-handle-2:focus,  .rc-slider-handle-2:hover {
    background-color: rgb(251, 177, 57);
    border-color: rgb(251, 177, 57);
}

.rc-slider-handle, .rc-slider-handle:active, .rc-slider-handle:focus,  .rc-slider-handle:hover {
    background-color: rgb(251, 177, 57);
    border-color: rgb(251, 177, 57);
}

.button {
         font-size: 70%;
         position: absolute;
         right: 12px;
         top: 10px;
         padding: 0px;
}
