body {
    margin: 0px;
}

.value {
    color: black;
    font-size: 10px;
}

/* thead, tbody { display: block; }
*/

#freq.severity0 .rc-slider-handle {
    border: solid 1px;
    background-color: #fdfd96;
}

#freq.severity1 .rc-slider-handle {
    border: solid 1px;
    background-color: #ffb347;
}

#freq.severity2 .rc-slider-handle {
    border: solid 1px;
    background-color: #ff6961;
}

.tooltiptext {
    opacity: 1 !important;
}

.tooltiptext .tooltip-inner {
    color: black;
    background-color: #E4E4E4;
    max-width: 300px;
    min-width: 300px;
    font-size: 110%;
}

.tooltiptext .tooltip-arrow {
    display: none;
}

#command_panel label {
    margin-bottom: 0.5rem;
}

table.supertable {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
    overflow-y: auto;
    overflow-x: hidden;

    border-style: solid;
    border-width: 1px;
    border-color: rgb(200, 200, 200);

    text-align: center;
    vertical-align: center;
    font-size: 14px;
    font-family: monospace;
}

table.supertable td, table.supertable th {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgb(200, 200, 200);

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(200, 200, 200);

    padding: 6px;
}

table.supertable th {
    background-color: white;
    font-weight: bold;
    color: rgb(251, 101, 57);
}

table.supertable tr th:first-child {
    color: rgb(67, 104, 176);
}

table.supertable thead tr:last-child th {
    background-color: rgb(241, 241, 241);
    color: black;
}

table.supertable td {
    background-color: rgb(248, 248, 248);
}

table.supertable tr:last-child td {
    border-bottom: 0px;
}

.cell-el-nino {
    background-color: rgb(172, 23, 25) !important;
    color: white;
}

.cell-la-nina {
    background-color: rgb(24, 101, 152) !important;
    color: white;
}

.cell-neutral {
    background-color: rgb(98, 98, 98) !important;
    color: white;
}

.cell-severity-0 {
    background-color: #fdfd96 !important;
}

.cell-severity-1 {
    background-color: #ffb347 !important;
}

.cell-severity-2 {
    background-color: #ff6961 !important;
    color: white;
}

.cell-good-year {
    background-color: rgb(230, 230, 250) !important;
}

.cell-bad-year {
    background-color: rgb(64, 9, 101) !important;
    color: white;
}
