body {
    margin: 0px;
}

.value {
    color: black;
    font-size: 10px;
}


table {
    border-collapse:collapse;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
td, th {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    width: 20%;
}

tr {
}

/* thead, tbody { display: block; }
*/

#freq.severity0 .rc-slider-handle {
    border: solid 1px;
    background-color: #fdfd96;
}

#freq.severity1 .rc-slider-handle {
    border: solid 1px;
    background-color: #ffb347;
}

#freq.severity2 .rc-slider-handle {
    border: solid 1px;
    background-color: #ff6961;
}

.tooltiptext {
    opacity: 1 !important;
}

.tooltiptext .tooltip-inner {
    color: black;
    background-color: #E4E4E4;
    max-width: 300px;
    min-width: 300px;
    font-size: 110%;
}

.tooltiptext .tooltip-arrow {
    display: none;
}

#command_panel label {
    margin-bottom: 0.5rem;
}
