body {
    margin: 0px;
}

.value {
    color: black;
    font-size: 10px;
}


table {
    border-collapse:separate;
    border-spacing: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* td, th { */
/*     border-style: solid; */
/*     border-width: 4px; */
/*     border-color: rgb(200, 200, 200); */
/*     width: 20%; */
/*     background-color: white; */
/* } */

tr {
}

/* thead, tbody { display: block; }
*/

#freq.severity0 .rc-slider-handle {
    border: solid 1px;
    background-color: #fdfd96;
}

#freq.severity1 .rc-slider-handle {
    border: solid 1px;
    background-color: #ffb347;
}

#freq.severity2 .rc-slider-handle {
    border: solid 1px;
    background-color: #ff6961;
}

.tooltiptext {
    opacity: 1 !important;
}

.tooltiptext .tooltip-inner {
    color: black;
    background-color: #E4E4E4;
    max-width: 300px;
    min-width: 300px;
    font-size: 110%;
}

.tooltiptext .tooltip-arrow {
    display: none;
}

#command_panel label {
    margin-bottom: 0.5rem;
}

table.supertable th {
    border-top: 0px;
}

/* table.supertable tr td:first-child, table.supertable th td:first-child  { */
/*     border-left: 0px; */
/* } */

table.supertable td, table.supertable th {
    border-right-style: solid;
    border-right-width: 4px;
    border-right-color: rgb(200, 200, 200);

    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: rgb(200, 200, 200);

    width: 20%;
    background-color: white;
}


table.supertable tr:first-child td {
    border-top: 0px;
}

table.supertable tr:last-child td {
    border-bottom: 0px;
}

table.supertable {
    /* border-bottom-style: solid; */
    /* border-bottom-width: 4px; */
    /* border-bottom-color: rgb(200, 200, 200); */

    /* border-top-style: solid; */
    /* border-top-width: 4px; */
    /* border-top-color: rgb(200, 200, 200); */

    border-style: solid;
    border-width: 4px;
    border-color: rgb(200, 200, 200);
}
